@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 900;
  font-style: normal;
}

/* heaser styyle */
.bg-light{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    width: 100%;
    height: 100vh;
}

/* sheared styyle */
.display-flex{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.tex-style{
    font-size: 1rem;
    font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
}
/* header styyle */
.header-title{
color: rgb(230, 83, 60);
font-size: 3rem;
font-weight: 700;
margin-left: 10%;
}
.nav-bar{
margin-right: 3%;
margin-top: 5%;
}
.btn-primary{
background-color: #FFFFFF1A;
color: white;
text-decoration: none;
border: none;
font-size: 1rem;
font-weight: 200;
cursor: pointer;
border-radius: 15px;
}
#home-styyle{
border-radius: 46px;
background: rgb(230, 83, 60);
}
/* banner-styyle */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 900;
    color: white;
}
.background-image img{
  width: auto;
  height: auto;

}
/* button style */

.btn{
   border-radius: 42px;
   background: rgb(230, 83, 60);
   color: white;
   width: 18%;
   height: 5vh;
   font-weight: 600;
   cursor: pointer;
}
.btn-2{
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
background: rgb(0, 0, 0);
color: white;
border-radius: 42px;
width: 18%;
height: 5vh;
font-weight: 600;
cursor: pointer;
}
/* main style */
.background-color{
    background-color:  black;
}
.habbit-section{
    text-align: center;
    justify-content: center;
}
.habbit{
    color: white;
font-size: 2.5rem;
font-weight: 900;
padding-top: 30px;
}
.mangement-part{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    margin-left: 13%;
  
}
.mangement img{
    align-content: center;
    justify-content: center;
    border-radius: 50%;
   
}
.section-part{
    text-align: center;
    justify-content: center;
}
.text-part{
    color: white;
}
.color{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 50%;
    margin-left: 25%;
}
.container{
    display: flex;
    margin-top: 5%;
     align-items: center;
    justify-content: center;
}
.container img{
    width: 30%;
    height: 20%;
    margin-left: 2%;
    border-radius: 18px;

}
.btn-3{
    width: 30%;
}
.sub-container{
    
}
@media screen and (max-width: 576px) {
    .display-flex,
    .banner
    {
        flex-direction: column;
    }
    .btn-primary{
        visibility: hidden;
    }
    .btn{
   border-radius: 42px;
   background: rgb(230, 83, 60);
   color: white;
   width: 30%;
   height: 4vh;
   font-weight: 400;
   cursor: pointer;
}
.btn-2{
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
background: rgb(0, 0, 0);
color: white;
border-radius: 42px;
  width: 30%;
   height: 4vh;
   font-weight: 400;
   cursor: pointer;
}
.background-image img{
    height: 30vh;
}
.header-title{
font-weight: 700;
 text-align: center;
 justify-content: center;
}
.mangement-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    margin-left: 13%;
  
}
.container{
    flex-direction: column;
    /* margin-top: 5%;
     align-items: center;
    justify-content: center; */
}
.color{
    width: 70%;
    text-align: center;
    justify-content: center;
    height: auto; 
}
}